<div class="container">
    <div class="row">
        @foreach (CardReadDTO card in Cards)
        {
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img class="card-img-top" src="@card.OriginalImageUrl" alt="@card.OriginalImageUrl">
                    <div class="card-body">
                        <button class="btn btn-primary" @onclick="() => AddToDeck(card)">Add to Deck</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<CardReadDTO> Cards { get; set; }

    private void AddToDeck(CardReadDTO card)
    {
       
    }
}