@using Howest.MagicCards.WebAPI.Wrappers
<h1>all cards:</h1>
@foreach (CardReadDTO card in Cards)
{
    <div class="cardImage">
        <img src="@card.OriginalImageUrl" alt="@card.Name" id="@card.Number"/>
    </div>
}

@code {
    [Parameter]
    public IEnumerable<CardReadDTO> Cards { get; set; }
}