@inject IHttpClientFactory httpClientFactory

@if (filteredCards == null)
{
    <p><em>Loading</em></p>
    <p>@message</p>
}
else
{
    <FilteredCardsList Cards="@filteredCards"></FilteredCardsList>
}