@page "/"
@inject IHttpClientFactory httpClientFactory
@rendermode InteractiveServer

<PageTitle>MTG Deck Builder</PageTitle>

<h1>MTG Deck Builder</h1>

<div id="body">
    <div id="allCards">
        <FilteredCards GetDeck="@GetDeck"/>
    </div>
    <div id="deckCards">
        <DeckCards deckCards="@DeckCards" message="@_message" AmountOfCardsInDeck="@AmountOfCardsInDeck" />
    </div>
</div>
