@page "/"

<PageTitle>MTG Deck Builder</PageTitle>

<h1>MTG Deck Builder</h1>

<div id="allCards">
    @* <FilterForm/>
    *@

@*     @if (cards == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <CardList cards="cards"></CardList>
    } *@
</div>

<div id="deckCards">
    @* <Deck />*@
</div>

@code {


}
