@page "/"
@inject IHttpClientFactory httpClientFactory

<PageTitle>MTG Deck Builder</PageTitle>

<h1>MTG Deck Builder</h1>

<div id="allCards">
    <FilterForm onFilterChanged="@HandleFilterChanged"/>
   
    <FilteredCards Filter="@filter"/>

</div>

<div id="deckCards">
    <DeckCards />
</div>

@code {
    private CardFilter filter { get; set; }

    private void HandleFilterChanged(CardFilter newFilter)
    {
        filter = newFilter;
    }
}