@page "/"

<PageTitle>MTG Deck Builder</PageTitle>

<h1>MTG Deck Builder</h1>

<div id="body">
    <div id="allCards">
        <AllCards/>
    </div>

    <div id="deckCards">
        <DeckCards />
    </div>
</div>
