@page "/"
@inject IHttpClientFactory httpClientFactory

<PageTitle>MTG Deck Builder</PageTitle>

<h1>MTG Deck Builder</h1>

<div id="allCards">
    <FilterForm OnFilterChanged="HandleFilterChanged" FormName="filterForm"/>
    <FilteredCards Filter="@filter" />
</div>

<div id="deckCards">
    <DeckCards />
</div>

@code {
    private CardFilter filter { get; set; } = new CardFilter();

    private async Task HandleFilterChanged(CardFilter newFilter)
    {
        filter = newFilter;
    }
}
